body,h1,h2,h3,h4,h5 {font-family: "Montserrat", sans-serif;}

.w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}

.w3-third img:hover{opacity: 1}

.fa {
    padding: 20px;
    font-size: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa-twitter {
    background: #616161;
    color: white;
  }

  .fa-linkedin {
    background: #616161;
    color: white;
  }

  .fa-instagram {
    background: #616161;
    color: white;
  }

  div #skills {padding-left: 30px;}